<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 col-xl-8 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <div class="d-flex align-items-center justify-content-between mb-5">
            <h5 class="card-title text-start fw-light fs-5">
              Welcome back Mr. FullStack Admin!
              <span class="badge bg-success ms-0">
                Expenses: {{usersInfo.totals.amount}}
              </span>
            </h5>
            <app-logout></app-logout>
          </div>
          <table class="table">
            <thead>
              <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col" class="text-center">User</th>
                <th scope="col" class="text-center">Last transaction</th>
                <th scope="col" class="text-center">Total transactions</th>
                <th scope="col" class="text-end">Total Amount ($)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let userInfo of usersInfo.data' class="table-light">
                <th scope="row">{{userInfo.id}}</th>
                <td class="text-center">{{userInfo.username}}</td>
                <td class="text-center">{{userInfo.totalAmount || 0}}</td>
                <td class="text-center">{{userInfo.totalTransactions || 0}}</td>
                <td class="text-end">{{userInfo.mostRecentTransactionDate | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
